<!DOCTYPE html>


{% extends 'base.html' %}

{% block title  %} GEO DEVICES {% endblock %}


{% block head %}

{% endblock %}


{% block content %}

		<body>
			<h1> GEO DEVICES </h1>
			<table border=1>
				<thead>
					<tr>
						<th>name</th>
						<th>value</th>
						<th>notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>hub_ethernet_cosy</td>
						<td>0</td>
						<td>Cosy hub, Ethernet microcontroller</td>
					</tr>
					<tr>
						<td>ct</td>
						<td>6</td>
						<td>Legacy Legato CT transmitter</td>
					</tr>
					<tr>
						<td>smartplug_old_1</td>
						<td>8</td>
						<td>Legacy Legato smartplug 1</td>
					</tr>
					<tr>
						<td>smartplug_old_2</td>
						<td>9</td>
						<td>Legacy Legato smartplug 2</td>
					</tr>
					<tr>
						<td>smartplug_old_3</td>
						<td>10</td>
						<td>Legacy Legato smartplug 3</td>
					</tr>
					<tr>
						<td>smartplug_old_4</td>
						<td>11</td>
						<td>Legacy Legato smartplug 4</td>
					</tr>
					<tr>
						<td>smartplug_old_5</td>
						<td>12</td>
						<td>Legacy Legato smartplug 5</td>
					</tr>
					<tr>
						<td>smartplug_old_6</td>
						<td>13</td>
						<td>Legacy Legato smartplug 6</td>
					</tr>
					<tr>
						<td>hub_rf_cosy</td>
						<td>64</td>
						<td>Cosy hub, RF microcontroller</td>
					</tr>
					<tr>
						<td>CELLO</td>
						<td>65</td>
						<td>Cosy display, R1</td>
					</tr>
					<tr>
						<td>heating_switch</td>
						<td>66</td>
						<td>Cosy heating switch, R1</td>
					</tr>
					<tr>
						<td>smartplug</td>
						<td>67</td>
						<td>Legacy Legato smartplug</td>
					</tr>
					<tr>
						<td>hub_ethernet_solo3</td>
						<td>68</td>
						<td>Solo 3 hub, Ethernet microcontroller</td>
					</tr>
					<tr>
						<td>hub_rf_solo3</td>
						<td>69</td>
						<td>Solo 3 hub, RF microcontroller</td>
					</tr>
					<tr>
						<td>bridge_ethernet</td>
						<td>70</td>
						<td>The black bridge, upgraded from energynote 13.1 (v35 of the
				code)
			</td>
					</tr>
					<tr>
						<td>solo3_ihd</td>
						<td>71</td>
						<td>Solo3 display</td>
					</tr>
					<tr>
						<td>asl_meter</td>
						<td>72</td>
						<td>ASL meter for use with the Solo 3 system</td>
					</tr>
					<tr>
						<td>ctplus</td>
						<td>73</td>
						<td>Enhanced CT clip (not currently used?)</td>
					</tr>
					<tr>
						<td>hub_ethernet_cosy_generic</td>
						<td>74</td>
						<td>Generic hub to connect to Cosy servers and perform fast
				firmware download. Used to deploy hub firmware at the point of
				installation.
			</td>
					</tr>
					<tr>
						<td>hub_ethernet_sniffer</td>
						<td>75</td>
						<td>Sniffer</td>
					</tr>
					<tr>
						<td>cello2</td>
						<td>76</td>
						<td>Cosy R2 display</td>
					</tr>
					<tr>
						<td>heating_switch2</td>
						<td>77</td>
						<td>Cosy R2 dual relay heating switch</td>
					</tr>
					<tr>
						<td>trio_ii_main</td>
						<td>80</td>
						<td>Trio II main processor and screen</td>
					</tr>
					<tr>
						<td>wifi_module</td>
						<td>81</td>
						<td>Wifi communications module</td>
					</tr>
					<tr>
						<td>hub_ethernet_connect</td>
						<td>82</td>
						<td>Connect hub ethernet MCU</td>
					</tr>
					<tr>
						<td>hub_rf_connect</td>
						<td>83</td>
						<td>Connect hub RF MCU</td>
					</tr>
					<tr>
						<td>stairlift_sensor</td>
						<td>84</td>
						<td>Stairlift sensor</td>
					</tr>
					<tr>
						<td>temperature_sensor</td>
						<td>85</td>
						<td>Temperature sensor</td>
					</tr>
					<tr>
						<td>hub_ethernet_sensor2cloud</td>
						<td>86</td>
						<td>Sensor 2 Cloud hub Ethernet MCU</td>
					</tr>
					<tr>
						<td>hub_rf_sensor2cloud</td>
						<td>87</td>
						<td>Sensor 2 Cloud hub RF MCU</td>
					</tr>
					<tr>
						<td>invalid</td>
						<td>255</td>
						<td>Don't assign this to a device!</td>
					</tr>
				</tbody>
			</table>
		</body>


{% endblock %}

